        <!-- About-->
        <section class="about-section text-center" id="about">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8">
                        <h2 class="text-white mb-4">About RNC Technology</h2>
                        <p class="text-white-50">
                            RNC Technology is a free cloud service focus on data/text generation, image generation and video generation.
                            It based on <a href="https://chat.openai.com/chat">Open AI Chat</a> and <a href="https://openai.com/dall-e-2/">Open AI Dall E</a> technology.
                            This service is open for any purpose, personal or commercial.
                        </p>
                    </div>
                </div>
                <img class="img-fluid" src="static/assets/img/RNCLogo_base.png" alt="..." />
            </div>
        </section>