{% include 'header.html' %}
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#page-top">RNCTech Image Service</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="/">TextGen</a></li>
                        <li class="nav-item"><a class="nav-link" href="/imageGen">ImageGen</a>
                        <li class="nav-item"><a class="nav-link" href="#ImgUp">ImgUp</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
         <section class="about-section text-center" id="ImgUp">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-8">
                        {% with messages = get_flashed_messages() %}
                              {% if messages %}
                                <div>
                                {% for message in messages %}
                                  <li>{{ message }}</li>
                                {% endfor %}
                                </div>
                              {% endif %}
                        {% endwith %}
                        {% if user_image != "False" %}
                            <div>
                                <img src="{{ url_for('display_image', filename=user_image) }}">
                            </div>
                        {% endif %}
                        <h2 class="text-white mb-4">Select image file to upload</h2>
                        <form action="#" method="post" enctype = "multipart/form-data">
                            <div class="form-group mb-3">
                                <input class="form-control"  type="file" name="upfile" autocomplete="off" required>
                            </div>
                            <button class="btn btn-primary" type="submit">Upload</button>
                        </form>
                        {% if ai_answer != "False" %}
                        <div>
                            <img src="{{ ai_answer }}"/>
                        </div>
                        {% endif %}
                    </div>
                </div>
                <br/>
                <img class="img-fluid" src="static/assets/img/RNCLogo.png" alt="..." />
            </div>
         </section>
{% include 'about.html' %}

        {% include 'contact.html' %}

{% include 'footer.html' %}
